<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <display-name>Archetype Created Web Application</display-name>

    <welcome-file-list>
        <welcome-file>main.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>fruitsaddservlet</servlet-name>
        <servlet-class>com.khadri.mart.fruits.servlet.FruitsAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fruitsaddservlet</servlet-name>
        <url-pattern>/fruitsadd</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>fruitsmodifyservlet</servlet-name>
        <servlet-class>com.khadri.mart.fruits.servlet.FruitsModifyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fruitsmodifyservlet</servlet-name>
        <url-pattern>/fruitsmodify</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>fruitsdeleteservlet</servlet-name>
        <servlet-class>com.khadri.mart.fruits.servlet.FruitDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fruitsdeleteservlet</servlet-name>
        <url-pattern>/fruitsdelete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>fruitsaddJsp</servlet-name>
        <jsp-file>/fruits_add.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>fruitsaddJsp</servlet-name>
        <url-pattern>/fruits_add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>fruitsviewJsp</servlet-name>
        <jsp-file>/fruits_view.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>fruitsviewJsp</servlet-name>
        <url-pattern>/fruits_view</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>fruitsmodifyJsp</servlet-name>
        <jsp-file>/fruits_modify.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>fruitsmodifyJsp</servlet-name>
        <url-pattern>/fruits_modify</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>fruitsviewallJsp</servlet-name>
        <jsp-file>/fruits_viewAll.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>fruitsviewallJsp</servlet-name>
        <url-pattern>/fruits_viewAll</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>fruitsdeleteJsp</servlet-name>
        <jsp-file>/fruits_delete.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>fruitsdeleteJsp</servlet-name>
        <url-pattern>/fruits_delete</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>groadd</servlet-name>
		<servlet-class>com.khadri.mart.grosary.servlet.AddGrosaryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>groadd</servlet-name>
		<url-pattern>/groadd</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>addjsp</servlet-name>
		<jsp-file>/groAdd.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>addjsp</servlet-name>
		<url-pattern>/grosary_add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>gromodify</servlet-name>
		<servlet-class>com.khadri.mart.grosary.servlet.ModifyGrosaryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>gromodify</servlet-name>
		<url-pattern>/gromodify</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>modifyJsp</servlet-name>
		<jsp-file>/groModify.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>modifyJsp</servlet-name>
		<url-pattern>/grosary_modify</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>modifypageJsp</servlet-name>
		<jsp-file>/grosary_modify_page.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>modifypageJsp</servlet-name>
		<url-pattern>/grosary_modify_page</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>viewjsp</servlet-name>
		<jsp-file>/groView.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>viewjsp</servlet-name>
		<url-pattern>/grosary_view</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>viewallJsp</servlet-name>
		<jsp-file>/groViewAll.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>viewallJsp</servlet-name>
		<url-pattern>/grosary_viewAll</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>grodelete</servlet-name>
		<servlet-class>com.khadri.mart.grosary.servlet.DeleteGrosaryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>grodelete</servlet-name>
		<url-pattern>/grodelete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deletepageJsp</servlet-name>
		<jsp-file>/grosary_delete_page.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>deletepageJsp</servlet-name>
		<url-pattern>/grosary_delete_page</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>groDeletejsp</servlet-name>
		<jsp-file>/groDelete.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>groDeletejsp</servlet-name>
		<url-pattern>/grosary_delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>cloadd</servlet-name>
		<servlet-class>com.khadri.mart.clothes.servlet.AddClothesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cloadd</servlet-name>
		<url-pattern>/cloadd</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>clothesmodifyservlet</servlet-name>
		<servlet-class>com.khadri.mart.clothes.servlet.ModifyClothesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>clothesmodifyservlet</servlet-name>
		<url-pattern>/clothesmodify</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>clothesdelete</servlet-name>
		<servlet-class>com.khadri.mart.clothes.servlet.DeleteClothesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>clothesdelete</servlet-name>
		<url-pattern>/clodelete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>clothesaddJsp</servlet-name>
		<jsp-file>/clothes_add.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>clothesaddJsp</servlet-name>
		<url-pattern>/clothes_add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>clothesmodifyJsp</servlet-name>
		<jsp-file>/clothes_modify.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>clothesmodifyJsp</servlet-name>
		<url-pattern>/clothes_modify</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>clothesviewJsp</servlet-name>
		<jsp-file>/clothes_view.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>clothesviewJsp</servlet-name>
		<url-pattern>/clothes_view</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>clothesviewallJsp</servlet-name>
		<jsp-file>/clothes_viewAll.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>clothesviewallJsp</servlet-name>
		<url-pattern>/clothes_viewAll</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>clothesdeletepageJsp</servlet-name>
		<jsp-file>/clothes_delete_page.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>clothesdeletepageJsp</servlet-name>
		<url-pattern>/clothes_delete_page</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>clothesDeletejsp</servlet-name>
		<jsp-file>/clothes_delete.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>clothesDeletejsp</servlet-name>
		<url-pattern>/clothes_delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>vegadd</servlet-name>
		<servlet-class>com.khadri.mart.vegetable.servlet.AddVegetableServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>vegadd</servlet-name>
		<url-pattern>/vegAdd</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>vegaddJsp</servlet-name>
		<jsp-file>/veg_add.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>vegaddJsp</servlet-name>
		<url-pattern>/veg_add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>modify</servlet-name>
		<servlet-class>com.khadri.mart.vegetable.servlet.ModifyVegetableServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>modify</servlet-name>
		<url-pattern>/vegModify</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>vegmodifyJsp</servlet-name>
		<jsp-file>/veg_modify.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>vegmodifyJsp</servlet-name>
		<url-pattern>/veg_modify</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>vegviewJsp</servlet-name>
		<jsp-file>/veg_view.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>vegviewJsp</servlet-name>
		<url-pattern>/veg_view</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>veg_viewallJsp</servlet-name>
		<jsp-file>/veg_viewall.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>veg_viewallJsp</servlet-name>
		<url-pattern>/vegViewAll</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>vegdelete</servlet-name>
		<servlet-class>com.khadri.mart.vegetable.servlet.DeleteVegetableServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>vegdelete</servlet-name>
		<url-pattern>/veg_delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>vegdeleteJsp</servlet-name>
		<jsp-file>/veg_delete.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>vegdeleteJsp</servlet-name>
		<url-pattern>/vegDelete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>vegdeletepageJsp</servlet-name>
		<jsp-file>/veg_delete_page.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>vegdeletepageJsp</servlet-name>
		<url-pattern>/vegDeletePage</url-pattern>
	</servlet-mapping>
	
</web-app>

